/*
Author: Alexis Campos
Date: 04/03/2023
File name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
    top: 0px;
    height: 50px;
    position: fixed;
    background-color: #ffff;
    width: 100%;
}

header img {
    margin: 0 auto; 
    margin-left: 15px;
    margin-top: 15px;
}

#menu-links {
    text-align: right;
}

/*everything else lol*/
#phones {
    display: grid;
}
#phones img {
    max-width: 375px;
    grid-column: 1;
    grid-row: 1; 
}

#background {
    margin-top: 30px;
    height: 100%;
}

#front {
    margin-top: 20px;
}

